@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 1300px;
}

.Navbar{
  width: 100%;
  position: fixed;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.803);

backdrop-filter: blur(14px);
  .nav-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-logo{
      height: 90px;
      cursor: pointer;
    }

    ul{
      display: flex;
      list-style-type: none;
      gap: 40px;
      margin: 0;

      li{
        a{
          cursor: pointer;
          color: var(--blue, #2F003A);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-decoration: none;
        }

        .active{
          color: #00B2FF;
        }
      }
    }
  }
}

.ModalForm{
  .contact-form {
    padding: 40px 30px;
    // border-radius: 25px;
    background: #fff;
    // box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    h3 {
      color: var(--blue, #2F003A);
      text-align: center;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 0%; 
      margin-bottom: 20px;
    }
  
    h4 {
      color: var(--Gray-4, #BDBDBD);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 30px;
    }
  
    input {
      display: block;
      color: var(--Gray-4, #BDBDBD);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 7px 0;
      border-radius: 5px;
      border: 2px solid #BDBDBD;
      margin-bottom: 40px !important;
      outline: none;
      padding: 18px 20px;
    }
    button {
      border-radius: 5px;
      background: var(--blue, #2F003A);
      display: flex;
      width: 319px;
      height: 50px;
      margin: 0 auto;
      padding: 13px 21px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: var(--white, #FFF);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}


.Header{
  padding-top: 165px;
  margin-bottom: 100px;
  .header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 100%;
    }

    .header-body__info{
      p{
        color: var(--Gray-4, #BDBDBD);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
      }

      

      h2{
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 30px;
        span{
          color: var(--blue, #00B2FF);
        }
      }

      h5{
        color: var(--blue, #2F003A);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
      }

      button{
        padding: 13px 21px;
        border-radius: 5px;
        background: var(--blue, #00B2FF);
        color: var(--white, #FFF);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
      }
    }
  }
}

.Primushestva{
  margin-bottom: 100px;
  .row{
    .section-tittle{
      color: var(--blue, #2F003A);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 50px;
      span{
        color: var(--blue, #00B2FF);
      }
    }

    .card{
      border: none;
      border-radius: 5px;
      background: var(--blue, #00B2FF);
      height: 100%;
      .card-body{
        svg{
          margin-bottom: 30px;
        }

        h3{
          color: var(--white, #FFF);
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 20px;
        }

        p{
          color: var(--white, #FFF);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}

.About{
  margin-bottom: 100px;   
  padding: 100px 0;
  border-radius: 5px;
  background: linear-gradient(101deg, #001B43 8.26%, #000D21 93.79%);
  .row{
    h2{
      color: var(--white, #FFF);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 50px;
      span{
        color: var(--blue, #00B2FF);
      }
    }
    
    .about-info{
      p{
        color: var(--Gray-4, #BDBDBD);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      img{
        border-radius: 5px;
        width: 100%;
      }
    }

    // .about-2{
    //   display: flex;
    //   flex-direction: column-reverse !important;  
    // }
  }
}

.Services{
  margin-bottom: 100px;
  .row{
    h2{
      color: var(--blue, #2F003A);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 50px;
      span{
        color: var(--blue, #00B2FF);
      }
    }

    .card{
      border-radius: 5px;
      background: var(--white, #FFF);
      box-shadow: 0px 18px 40px 0px rgba(0, 8, 71, 0.10), 0px 72px 72px 0px rgba(0, 8, 71, 0.09), 0px 162px 97px 0px rgba(0, 8, 71, 0.05), 0px 288px 115px 0px rgba(0, 8, 71, 0.01), 0px 450px 126px 0px rgba(0, 8, 71, 0.00);
      border: none;
      height: 100%;
      .card-body{
        text-align: center;
        padding: 18px;
        img{
          width: 100%;
          margin-bottom: 20px;
        }

        h3{
          margin-bottom: 30px;
          color: var(--blue, #2F003A);
          text-align: center;
          font-size: 26px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        button{
          padding: 13px 21px;
          border-radius: 5px;
          background: var(--blue, #00B2FF);
          color: var(--white, #FFF);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          border: none;
        }
      }
    }
  }
}

.Consultation{
  margin-bottom: 100px;
  .consultation-block{
    border-radius: 5px;
    background: linear-gradient(101deg, #001B43 8.26%, #000D21 93.79%);
    display: flex;
    justify-content: center;
    gap: 86px;
    align-items: center;
    padding: 60px 0;
    .consultation-block__image{
      img{
        border-radius: 50%;
      }
    }

    .consultation-block__info{
      h2{
        color: var(--white, #FFF);
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 36px */
        margin-bottom: 30px;
        span{
          color: var(--blue, #00B2FF);
        }

      }

      p{
        color: var(--Gray-4, #BDBDBD);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
      }

      button{
        padding: 13px 21px;
        border-radius: 5px;
        border: 2px solid var(--blue, #00B2FF);
        color: var(--blue, #00B2FF);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: none;
      }
    }
  }
}

.NumberInfo{
  padding: 100px 0;
  margin-bottom: 100px;
  background: linear-gradient(101deg, #001B43 8.26%, #000D21 93.79%);
  .row{
    h2{
      text-align: center;
      color: var(--blue, #00B2FF);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 50px;
      span{
        color: var(--white, #FFF);
      }
    }
    .number-block{
      .card{
        border: 1px solid var(--blue, #00B2FF);
        background: none;
        padding: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 100%;

        img{
          height: 100px;
        }

        .qush{
          width: 88px;
          height: 97px;
          margin: 0 auto;
        }

        h3{
          text-align: center;
          color: var(--white, #FFF);
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 60px */
          margin-bottom: 20px;
        }

        p{
          text-align: center;
          color: var(--white, #FFF);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
        }
      }
    }
  }
}

.FAQ{
  margin-bottom: 100px;
  h2{
    color: var(--blue, #00B2FF);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 36px */
    margin-bottom: 50px;
    span{
      color: var(--blue, #2F003A);
    }
  }

  .acardion-tittle{
    color: var(--blue, #2F003A);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .acardion-txt{
    color: var(--Gray-3, #828282);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.Contact{
  margin-bottom: 100px;

  
  h2{
    color: var(--blue, #2F003A);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 50px;
    span{
      color: var(--blue, #00B2FF);
    }
  }

  .contact-info{
    h3{
      color: var(--blue, #2F003A);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
    }

    p{
      color: var(--Gray-3, #828282);
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 30px;
    }

    input{
      display: flex;
      height: 50px;
      padding: 23px 20px;
      align-items: center;
      gap: 10px;
      color: var(--Gray-4, #BDBDBD);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 5px;
      border: 2px solid #BDBDBD;
      outline: none;
    }

    button{
      color: var(--white, #FFF);
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 13px 21px;
      border-radius: 5px;
      background: var(--blue, #2F003A); 
      border: none;
    }
  }
}

.Footer{
  padding: 100px 0;
  background: var(--blue, #00B2FF);
  .logo-info{
    color: var(--white, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer-list{
    display: flex;
    justify-content: space-between;
    ul{
      list-style: none;

      li{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 20px;
      }
    }
  }
}